* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  font: 100% / 200% 'Trebuchet MS';
}
body {
  font-size: 1em;
  padding: 0;
  margin: 0;
  color: pink;
  background-color: #000;
  max-width: 50em;
  margin: 0 auto;
}
main {
  padding: 2rem;
}
